body {
	margin: 0;
	padding: 0;
	background: #fff;
	height: 100%;
	color: #333;
	font-family: 'Source Sans Pro', sans-serif;
	overflow: hidden;
}

h1 {
	margin-top: 0;
	padding-top: 80px;
	font-weight: 999;
	text-transform: uppercase;
	font-size: 48px;
	text-align: right;
}

.clear {
	clear: both;
}

.desc {
	position: relative;
	float: left;
	width: 50%;
}

.desc .content {
	margin-right: 80px;
	padding: 0 40px;
	background: #f7f7f7;
	padding-bottom: 99999px;
}

.desc .content .contentInnerWrapper {
	float: right;
	width: 400px;
}

#score > div.circle {
	float: right;
	width: 50px;
	height: 50px;
	background: red;
	border-radius: 50px;
	color: white;
	font-weight: bold;
	text-align: center;
	margin-left: 10px;
	line-height: 50px;
}
#score > div.circle.green {
	background: rgb(112, 168, 112);
}
#score > div.circle.red {
	background: rgb(209, 56, 56);
}

.desc h1 + p {
	text-align: right;
	margin: 0;
	margin-bottom: 10px;
	margin-top: -20px;
}

#rules {
	text-align: right;
	padding-left: 80px;
	margin-bottom: 40px;
}

#rules > div {
	margin-bottom: 5px;
	color: #999;
}

#boardWrapper {
	position: relative;
	float: right;
	width: 50%;
}

#board {
	margin-top: 80px;
	position: relative;
}

.base {
	position: absolute;
	width: 100%;
	height: 100%;
}

.hint > div,
.top > div,
.base > div {
	position: absolute;
	width: 20px;
	height: 20px;
	background: transparent;
	border-radius: 20px;
	z-index: 1;
}
.base > .valid {
	background: #eee;
}
.base > .valid:hover {
	background: #ddd;
	cursor: pointer;
}

.base > .valid.selected {
	background: #ddd;
}
.base > .valid.neighbor {
	background: #ccc;
}

.top > div {
	z-index: 2;
}
.top > .red {
	background: rgb(209, 56, 56);
}
.top > .green {
	background: rgb(112, 168, 112);
}
.top > .red:hover {
	background: red;
	cursor: pointer;
}
.top > .green:hover {
	background: green;
	cursor: pointer;
}
.top > .red.selected {
	background: red;
}
.top > .green.selected {
	background: green;
}